@import './vars.css';

.action-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  padding: var(--padding);
  margin: 0;
  text-align: center;
  box-shadow: 0px -3px 2px 0px var(--black);
  background: var(--black);
}
.action-bar li {
  display: inline-block;
  margin: 0 var(--gutter);
}
.action-bar button {
  padding: var(--padding);
  font-weight: 700;
  border: 0;
}

.action-bar .undoBtn button {
  background: var(--orange);
  color: var(--white);
}

.action-bar .undoBtn button:hover {
  background: var(--darkorange);
}

.action-bar .saveBtn button {
  color: var(--white);
  background: var(--blue);
}

.action-bar .saveBtn button:hover {
  background: var(--darkblue);
}
