@import './vars.scss';

.headers th {
  color: $black;
}

.headers th input {
  font-weight: bold;
  text-align: center;
}

.headers .newField input {
  background: $green;
}

.headers .oldField.edited input {
  background: $yellow;
}

.headers .oldField.deleted input {
  background: $red;
}