@import './vars.css';

.headers th {
  color: var(--black);
}

.headers th input {
  font-weight: bold;
  text-align: center;
}

.headers .newField input {
  background: var(--green);
}

.headers .oldField.edited input {
  background: var(--yellow);
}

.headers .oldField.deleted input {
  background: var(--red);
}