.headers th input {
  font-weight: bold;
  text-align: center;
}

.headers .newField input {
  background: #efe;
}

.headers .oldField.edited input {
  background: #ffe;
}

.headers .oldField.deleted input {
  background: #fee;
}