@import './vars.scss';

.newRecord {
  .newField input,
  .oldField input {
    background: $green;
  }

  .oldField.fieldDeleted input {
    background: $red;
  }

  .newField.fieldDeleted input {
    background: $white;
  }

  .newField.disabled input {
    background: $white;
  }
}

.addNewRecordButton {
  padding: $unit;
  text-align: center;
  cursor: pointer;
}

.addNewRecordButton:hover {
  background: $green;
}