@import './vars.scss';

.newRecord .newField input,
.newRecord .oldField input {
  background: $green;
}

.newRecord .oldField.fieldDeleted input {
  background: $red;
}

.newRecord .newField.fieldDeleted input {
  background: $white;
}

.newRecord .newField.disabled input {
  background: $white;
}

.addNewRecordButton {
  padding: $unit;
  text-align: center;
  cursor: pointer;
}

.addNewRecordButton:hover {
  background: $green;
}