@import './vars.css';

.newRecord .newField input,
.newRecord .oldField input {
  background: var(--green);
}

.newRecord .oldField.fieldDeleted input {
  background: var(--red);
}

.newRecord .newField.fieldDeleted input {
  background: var(--white);
}

.newRecord .newField.disabled input {
  background: var(--white);
}

.addNewRecordButton {
  padding: var(--padding);
  text-align: center;
  cursor: pointer;
}

.addNewRecordButton:hover {
  background: var(--green);
}