@import './vars.scss';

.record .newField input {
  background: $green;
}

.record .oldField.edited input {
  background: $yellow;
}

.record .oldField.deleted input,
.record.deleted input {
  background: $red;
  text-decoration: line-through;
}

.record .newField.disabled input {
  background: $white;
}