@import './vars.css';

.record .newField input {
  background: var(--green);
}

.record .oldField.edited input {
  background: var(--yellow);
}

.record .oldField.deleted input,
.record.deleted input {
  background: var(--red);
  text-decoration: line-through;
}

.record .newField.disabled input {
  background: var(--white);
}