@import './vars.css';

.record-browser {
  width: 100%;
  margin: 0 0 var(--gutter);
}

.record-browser th input, .record-browser td input {
  width: 100%;
  padding: var(--padding);
}

.record-browser th, .record-browser td {
  border: 1px solid var(--black);
  min-width: 200px;
}

.record-browser .action-col {
  border-color: #fff;
  width: var(--gutter);
  min-width: var(--gutter) !important;
  padding: 0.5em 0.7em;
}

.record-browser .action-icon {
  cursor: pointer;
}