:root {
  /* Whitespace */
  --padding: 0.5em 0.8em;
  --gutter: 5em;

  /* Colors */
  --black: #2b3233;
  --white: #f9f8f3;
  --blue: #0062AA;
  --darkblue: #004577;
  --green: #e4fde1;
  --yellow: #f4e8c1;
  --red: #fee;
  --orange: #f77802;
  --darkorange: #c45f02;
}